In [12]:
import pandas as pd

df = pd.DataFrame({'A': range(4), 'B': [2*i for i in range(4)]})
print(df)

   A  B
0  0  0
1  1  2
2  2  4
3  3  6

In [13]:
df['A'].corr(df['B'])

1.0

In [14]:
df.loc[2, 'B'] = 4.5
print(df)

   A    B
0  0  0.0
1  1  2.0
2  2  4.5
3  3  6.0

In [11]:
df['A'].corr(df['B'])

0.9958616434923834

In [15]:
df.corr()

          A         B
A  1.000000  0.995862
B  0.995862  1.000000